.form_field {
  display: block;
  margin-bottom: 10px;
}
  
.form_field:last-child {
  margin-bottom: 0;
}

.block {
  margin-bottom: 20px;
}

.block:last-child {
  margin-bottom: 0;
}

.submitButton {
  margin-top: 20px;
}
